.videoPage{
    padding: 20px 100px;

    .row{
        display: flex;
        gap: 20px;
        .col-1{
            flex: 5;

        }

        .col-2{
            flex: 3;
            
            .videoCart{
                margin-bottom: 5px;
            
                .row{
                    width: max-content;
                    flex-direction: row;
                    gap: 10px;
                    justify-content: flex-start;
                    max-width: 500px;
                   .col-1{
                    flex: 1;
                       img{
                           width: 150px;
                           height: 100px;
                        }
                    }
                    
                    .col-2{
                        flex: 2;
                       display: block;
                    .img_container{
                        display: none;
                    }
                   }

                }
            }
        }
    }
}